<div class= "container-fluid">
  <!- ====  Guimaraes ==== ->
  <div class= "row mt-3">
    <div class="col-sm-1"> </div>
    <div class="col-sm-1 titulo-cidade">
      <p>Guimarães</p>
    </div>
  </div> <!- row titulo ->
  <div class="row">
    <div class="subtitulo-cidade">
      <p>Aqui nasceu Portugal</p>
    </div>
  </div> <!- row subtitulo ->

  <div class="row">
    <div class="col-sm-1"> </div>
    <div class="col-sm-8">
      <%=  image_tag('Guimaraes/Castelo.jpg', class:"imagem-cidade" )%>
    </div>
  </div><!- row ->

  <div class="row p-3">
    <div class="col-sm-2"> </div>
    <div class="col-sm-8">
      <div class="texto-descritivo">
        <p>Pellentesque in arcu sed erat egestas facilisis vitae vel tortor. Suspendisse a cursus sapien. In luctus turpis eu eros lacinia sollicitudin. Nulla erat tellus, accumsan at nulla ut, sollicitudin pulvinar risus. Integer pretium convallis urna, quis placerat ligula imperdiet vel. Morbi efficitur lacus sit amet sodales accumsan. Nullam pulvinar risus eu leo placerat ultricies. Nulla bibendum rhoncus arcu, sit amet sagittis mi ornare id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ex ipsum, euismod eu mauris nec, volutpat hendrerit leo.</p>
      </div>
    </div> 
  </div><!- row ->

  <!- Onde Visitar ->
  <div class="row">
    <div class="col-sm-1"> </div>
    <div class="col-sm-8 titulo-onde-visitar">
      <p>O que visitar em Guimarães</p>
    </div>
  </div> <!- row titulo onde visitar->

  <!- Lugar a visitar O Castelo ->
  <div class="row mt-4">
    <div class="row">
      <div class="titulo-lugar">
        <p>O Castelo</p>
      </div>
      <div class="col-sm-6 offset-sm-3 texto-descritivo">
        <p>Pellentesque in arcu sed erat egestas facilisis vitae vel tortor. Suspendisse a cursus sapien. In luctus turpis eu eros lacinia sollicitudin. Nulla erat tellus, accumsan at nulla ut, sollicitudin pulvinar risus. Integer pretium convallis urna, quis placerat ligula imperdiet vel. Morbi efficitur lacus sit amet sodales accumsan. Nullam pulvinar risus eu leo placerat ultricies. Nulla bibendum rhoncus arcu, sit amet sagittis mi ornare id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ex ipsum, euismod eu mauris nec, volutpat hendrerit leo.</p>
      </div>
    </div>

  <div class="row">
    <div class="col-sm-4 offset-sm-1">
      <%=  image_tag('Guimaraes/Castelo2.jpg', class:"imagem-lugar-medio" )%>
    </div>
    <div class="col-sm-4 offset-sm-1">
      <%=  image_tag('Guimaraes/Castelo3.jpg', class:"imagem-lugar-medio" )%>
    </div>
 </div><!- row lugar ->

  <!- Lugar a visitar Paço dos Duques de Bragança  ->
  <div class="row mt-4">
    <div class="col-sm-4 offset-sm-1">
      <div class="titulo-lugar">
        <p>Paço dos Duques de Bragança</p>
      </div>
      <div class="texto-descritivo">
        <p>Pellentesque in arcu sed erat egestas facilisis vitae vel tortor. Suspendisse a cursus sapien. In luctus turpis eu eros lacinia sollicitudin. Nulla erat tellus, accumsan at nulla ut, sollicitudin pulvinar risus. Integer pretium convallis urna, quis placerat ligula imperdiet vel. Morbi efficitur lacus sit amet sodales accumsan. Nullam pulvinar risus eu leo placerat ultricies. Nulla bibendum rhoncus arcu, sit amet sagittis mi ornare id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ex ipsum, euismod eu mauris nec, volutpat hendrerit leo.</p>
      </div>
      <div>
        <%=  image_tag('Guimaraes/PacoDuquesDeBraganca.jpg', class:"imagem-lugar-medio" )%>
      </div>
    </div>
    <div class="col-sm-4 offset-sm-1">
      <%=  image_tag('Guimaraes/PacoDuqueDeBraganca2.jpg', class:"imagem-lugar-vertical" )%>
    </div>
 </div><!- row lugar ->


  <!- Lugar a visitar Largo da Oliveira ->
  <div class="row mt-3">
    <div class="col-sm-5 offset-sm-1">
      <%=  image_tag('Guimaraes/LargoDaOliveira.jpg', class:"imagem-lugar-medio" )%>
    </div>
    <div class="col-sm-4">
      <div class="titulo-lugar">
        <p>Largo da Oliveira</p>
      </div>
      <div class="texto-descritivo">
        <p>Pellentesque in arcu sed erat egestas facilisis vitae vel tortor. Suspendisse a cursus sapien. In luctus turpis eu eros lacinia sollicitudin. Nulla erat tellus, accumsan at nulla ut, sollicitudin pulvinar risus. Integer pretium convallis urna, quis placerat ligula imperdiet vel. Morbi efficitur lacus sit amet sodales accumsan. Nullam pulvinar risus eu leo placerat ultricies. Nulla bibendum rhoncus arcu, sit amet sagittis mi ornare id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ex ipsum, euismod eu mauris nec, volutpat hendrerit leo.</p>
      </div>
  </div><!- row lugar ->

  <!- Lugar a visitar Passeio pelo centro ->
  <div class="row mt-4">
    <div class="row">
      <div class="titulo-lugar">
        <p>Passeio pelo centro</p>
      </div>
      <div class="col-sm-6 offset-sm-3 texto-descritivo">
        <p>Pellentesque in arcu sed erat egestas facilisis vitae vel tortor. Suspendisse a cursus sapien. In luctus turpis eu eros lacinia sollicitudin. Nulla erat tellus, accumsan at nulla ut, sollicitudin pulvinar risus. Integer pretium convallis urna, quis placerat ligula imperdiet vel. Morbi efficitur lacus sit amet sodales accumsan. Nullam pulvinar risus eu leo placerat ultricies. Nulla bibendum rhoncus arcu, sit amet sagittis mi ornare id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ex ipsum, euismod eu mauris nec, volutpat hendrerit leo.</p>
      </div>
    </div>

  <div class="row">
    <div class="col-sm-4 offset-sm-1">
      <%=  image_tag('Guimaraes/Passeio1.jpg', class:"imagem-lugar-medio" )%>
    </div>
    <div class="col-sm-4 offset-sm-1">
      <%=  image_tag('Guimaraes/Passeio4.jpg', class:"imagem-lugar-medio" )%>
    </div>
 </div><!- row lugar ->
</div><!- container-fluid ->

