<div class= "container-fluid">
  <!- ====  Obidos ==== ->
  <div class= "row justify-content-around mt-4">
    <div class="col-10 titulo-cidade">
      <p>Óbidos</p>
    </div>
  </div> <!- row titulo ->
  <div class="row">
    <div class="subtitulo-cidade">
      <p>A charmosa vila medieval</p>
    </div>
  </div> <!- row subtitulo ->

  <div class="row justify-content-center">
    <div class="col-8">
      <%=  image_tag('Obidos/CidadeObidos.jpg', class:"imagem-cidade img-fluid" )%>
    </div>
  </div><!- row ->

  <div class="row justify-content-center p-3">
    <div class="col-7">
      <div class="texto-descritivo">
        <p>Óbidos é uma das jóias de Portugal. E isso não é um elogio da boca para fora. Conta a história que a vila medieval foi dada de presente de casamento por D. Dinis à esposa Isabel durante as núpcias ali passadas e assim passou por cerca de cinco séculos sendo parte do dote de todas as rainhas portuguesas. Aí você deve estar se perguntando: mas o que Óbidos tem de tão especial? Muita coisa: um charme único de cidade pequena, colorida e com flores nas janelas das casas caiadas; belas vistas dos pontos mais altos do vilarejo, castelo de origem romana e uma muralha do século 14, restaurantes, lojinhas de artesanato e várias bancas com venda de ginja de Óbidos, a tradicional bebida da cidade.</p>
        <p class="fonte-texto"><b>Fonte:</b>https://www.melhoresdestinos.com.br/obidos-o-que-fazer.html</p>
      </div>
    </div> 
  </div><!- row ->

  <!- Onde Visitar ->
  <div class="row justify-content-around">
    <div class="col-8 titulo-onde-visitar">
      <p>O que visitar em Óbidos</p>
    </div>
  </div> <!- row titulo onde visitar->

  <!- Lugar a visitar O portal da cidade ->
  <div class="row justify-content-center mt-4">
    <div class="col-5 my-auto">
      <%=  image_tag('Obidos/OPortal.jpg', class:"imagem-lugar-medio img-fluid" )%>
    </div>
    <div class="col-4 my-auto">
      <div class="titulo-lugar">
        <p>O Portal da Cidade</p>
      </div>
      <div class="texto-descritivo">
        <p>Um dos principais monumentos de Óbidos está logo na sua entrada: a Porta da Vila, com uma capela revestida em azulejos azuis do século 18, em homenagem a Nossa Senhora da Piedade, padroeira do vilarejo. Depois, basta seguir pela rua principal, a Rua Direita. No fim dela está o famoso castelo, considerado uma das 7 Maravilhas de Portugal.</p>
        <p class="fonte-texto"><b>Fonte:</b>https://www.melhoresdestinos.com.br/obidos-o-que-fazer.html</p>
      </div>
  </div><!- row lugar ->

  <!- Lugar a visitar O Castelo ->
  <div class="row justify-content-center mt-4">
    <div class="col-5 my-auto">
      <div class="titulo-lugar">
        <p>O Castelo</p>
      </div>
      <div class="texto-descritivo">
        <p>E aí, por fim, o charme da vila medieval, além da muralha, está no castelo cuja data de construção é incerta, mas que passou a ser documentado a partir de 1153. Hoje a edificação é considerada uma das 7 Maravilhas de Portugal e está completamente restaurada. O castelo abriga um hotel da rede Pestana e, por isso, tem o seu interior fechado para visitas. Uma forma de conhecer a parte interna, no entanto, é fazendo uma refeição no restaurante do hotel. Ou, então, aproveite passear pelas redondezas, tentando imaginar, ainda que de fora, como era a vida por ali há alguns séculos.</p>
        <p class="fonte-texto"><b>Fonte:</b>https://www.melhoresdestinos.com.br/obidos-o-que-fazer.html</p>
      </div>
      <div>
        <%=  image_tag('Obidos/OCastelo3.jpg', class:"imagem-lugar-medio img-fluid" )%>
      </div>
    </div>
    <div class="col-4 my-auto">
      <%=  image_tag('Obidos/OCastelo.jpg', class:"imagem-lugar-medio img-fluid" )%>
      <%=  image_tag('Obidos/OCastelo2.jpg', class:"imagem-lugar-medio img-fluid" )%>
    </div>
 </div><!- row lugar ->


  <!- Lugar a visitar Passeio pelas ruelas ->
  <div class="row justify-content-center mt-3">
    <div class="col-5 my-auto">
      <center>
        <%=  image_tag('Obidos/Ruelas.jpg', class:"imagem-lugar-vertical img-fluid" )%>
      </center>
    </div>
    <div class="col-4 my-auto">
      <div class="titulo-lugar">
        <p>Passeio pelas ruelas</p>
      </div>
      <div class="texto-descritivo">
        <p> Bastam poucas horas para percorrer todo o vilarejo. São duas as ruas principais, que ligam o portal da cidade à região próxima ao castelo – nelas, estão os restaurantes, lojas de souvenirs, igrejas e livrarias, que já deram a Óbidos o título de Cidade Literária pela Unesco. Além das duas vias maiores, há várias transversais, onde a graça está em caminhar e apreciar a pintura das casas, as portas pequenas, e as janelas enfeitadas com cores e flores.</p>
        <p class="fonte-texto"><b>Fonte:</b>https://www.melhoresdestinos.com.br/obidos-o-que-fazer.html</p>
      </div>
      <div>
        <%=  image_tag('Obidos/Ruelas2.jpg', class:"imagem-lugar-medio img-fluid" )%>
      </div>
    </div><!- row lugar ->

  <!- Lugar a visitar Prove uma boa comida ->
  <div class="row justify-content-center p-4">
    <div class="col-5 my-auto">
      <div class="titulo-lugar">
        <p>Prove uma boa comida local</p>
      </div>
      <div class="texto-descritivo">
        <p>Prove a comida local, você não irá se arrepender. Ela é preparada com Bacalhau, de diversas formas, camarões (gambas) e frutos do mar. Existem diversos bons restaurante neste charmosa cidade medieval.</p>
        <p class="fonte-texto"><b>Fonte:</b>Wagner Röse</p>
      </div>
      <div>
        <%=  image_tag('Obidos/Pratos2.jpg', class:"imagem-lugar-medio img-fluid" )%>
      </div>
    </div>
    <div class="col-4 my-auto">
      <%=  image_tag('Obidos/Pratos1.jpg', class:"imagem-lugar-vertical img-fluid" )%>
    </div>
 </div><!- row lugar ->

 <!- Lugar a visitar Prove a ginja ->
  <div class="row justify-content-center p-4">
    <div class="col-4 my-auto">
      <center>
        <%=  image_tag('Obidos/Ginja.jpg', class:"imagem-lugar-vertical img-fluid" )%>
      </center>
    </div>
    <div class="col-5 my-auto">
      <div class="titulo-lugar">
        <p>Prove a ginja</p>
      </div>
      <div class="texto-descritivo">
        <p>Pela rua principal de Óbidos, a Rua Direita, passeie com calma, admirando as casas brancas com molduras coloridas e janelas floridas. Nesta mesma via de paralelepípedo, aproveite para provar dois dos clássicos da vila: o chocolate e a ginja de Óbidos, que podem inclusive ser provados juntos, com a bebida sendo servida em um copinho de chocolate (valor médio de 1 euro).</p>
        <p class="fonte-texto"><b>Fonte:</b>https://www.melhoresdestinos.com.br/obidos-o-que-fazer.html</p>
      </div>
    </div>
  </div><!- row lugar ->
</div><!- container-fluid ->

