<div class= "container-fluid">
  <!- ====  Lisboa ==== ->
  <div class= "row p-3 justify-content-center">
    <div class="col-4">
      <div class="mx-auto">
        <h1>
          <%= link_to "Lisboa", lisboa_path, style:"text-decoration: none;" %>
        </h1>
      </div>
      <div class="texto-descritivo">
        <p>Lisboa é uma cidade iluminada. A presença quase constante do sol e do rio Tejo transforma a capital portuguesa em um espelho de mil cores – destacando a arquitetura e a beleza única da cidade.</p>
        <p>Há tantas coisas para ver e fazer em Lisboa que os visitantes têm acesso a uma grande variedade de experiências diferentes</p>
        <p>Ao caminhar por Lisboa – cuja história se estende por milhares de anos – encontramos ruas repletas de monumentos históricos, e bairros característicos onde a cidade se desenvolveu pela primeira vez e ainda pode ser vivenciada em seu nível mais genuíno.</p>
        <p class="fonte-texto"><strong> Fonte:</strong> https://visiteomundo.com/atividades/europa/portugal/lisboa/ </p>
      </div>
    </div> <!- div col ->
    <div class="col-6">
      <%= link_to image_tag('Lisboa/Torre de Belem.jpg', class: 'img-fluid imagem-lugar-medio'), lisboa_path %>
    </div>
  </div> <!- row ->

  <!- ====  Porto ==== ->

  <div class="row justify-content-center mt-3 mb-3">
    <div class="col-3 offset-2"> 
      <%= link_to image_tag('Porto/20220318_132120.jpg', class: 'img-fluid', style:"width:250px; height: 400px; border-radius: 30px;"), porto_path %>
    </div>
    <div class="col-4">
      <div> <h1> <%= link_to "Porto", porto_path, style:"text-decoration: none;" %></h1></div>
      <div class="texto-descritivo">
        <p> A segunda maior cidade de Portugal encanta os visitantes com a sua história, vinhos premiados e arquitetura grandiosa. A cidade do Porto, declarada como Patrimônio Mundial da Humanidade pela UNESCO, é uma das cidades mais antigas e bem preservadas da Europa. Situada às margens escarpadas do Rio Douro, a cidade combina o charme do Velho Mundo com a paixão por bons vinhos. </p>
        <p class="fonte-texto"><strong>Fonte:</strong>https://www.expedia.com.br/Portod</p>
      </div>
    </div> <!- col ->
  </div> <!- row ->

  <!- ====  Coimbra ==== ->
  <div class= "row justify-content-center">
    <div class="col-4">
      <div>
        <h1>
          <%= link_to "Coimbra", coimbra_path, class: 'img-fluid', style:"text-decoration: none;" %>
        </h1>
      </div>
      <div class="texto-descritivo">
        <p>Localizada no centro de Portugal, Coimbra é um ótimo ponto de paragem durante uma viagem pelo país. Por lá vale a pena ficar pelo menos dois dias, se você quiser conhecer os pontos imperdíveis com calma. Visitar a cidade é fazer uma viagem no tempo por épocas medievais. Deixe se perder por ruelas e escadinhas, vivendo o ambiente estudantil da Universidade de Coimbra, atravessando o Rio Mondego e explorando ruínas</p>
        <p class="fonte-texto"><strong>Fonte:</strong>https://www.dicasdeviagem.com/coimbra/</p>
      </div>
    </div> <!- div col ->
    <div class="col-4">
      <%= link_to image_tag('Coimbra/Coimbra.jpg', style:"width:370px; height: 300px; border-radius: 30px;"), coimbra_path %>
    </div>
  </div> <!- row ->

  <!- ====  Outros destinos ==== ->
  <div class="row justify-content-center">
    <div class="col">
      <h1 class="titulo-outros-lugares mt-4 mb-4">Outros destinos</h1>
    </div>
  </div> <!- row ->
  
  <!- ====  Fotos outro destinos ==== ->
  <div class="row justify-content-center">
    <div class="col">
      <center>
        <%= link_to image_tag('Aveiro/CostaNova.jpg', class:'imagem-lugar-pequeno img-fluid'), aveiro_path %>
        <p><%=link_to "Aveiro", aveiro_path, class:'titulo-lugar-pequeno mx-auto mt-2' %></p>
      </center>
    </div> 
    <div class="col">
      <center>
        <%= link_to image_tag('Guimaraes/Passeio1.jpg', class:'imagem-lugar-pequeno img-fluid'), guimaraes_path %>
        <p><%=link_to "Guimarães", guimaraes_path, class:'titulo-lugar-pequeno mx-auto mt-2' %></p>
      </center>
    </div> 
    <div class="col">
      <center>
        <%= link_to image_tag('Braga/20220320_144158.jpg', class:'imagem-lugar-pequeno img-fluid'), braga_path %>
        <p><%=link_to "Braga", braga_path, class:'titulo-lugar-pequeno mx-auto mt-2' %></p>
      </center>
    </div> 
    <div class="col">
      <center>
        <%= link_to image_tag('Obidos/OCastelo.jpg', class:'imagem-lugar-pequeno img-fluid'), obidos_path %>
        <p><%=link_to "Óbidos", obidos_path, class:'titulo-lugar-pequeno mx-auto mt-2' %></p>
      </center>
    </div> 
  </div> <!- row ->
 
  </div>
</div><!- container-fluid ->
