<div class= "container-fluid">
  <!- ====  Coimbra ==== ->
  <div class= "row mt-3">
    <div class="col-sm-1"> </div>
    <div class="col-sm-1 titulo-cidade">
      <p>Coimbra</p>
    </div>
  </div> <!- row titulo ->
  <div class="row">
    <div class="subtitulo-cidade">
      <p>"..é uma lição, de sonho e tradição"</p>
    </div>
  </div> <!- row subtitulo ->

  <div class="row">
    <div class="col-sm-1"> </div>
    <div class="col-sm-8">
      <%=  image_tag('Coimbra/Coimbra.jpg', class:"imagem-cidade" )%>
    </div>
  </div><!- row ->

  <div class="row p-3">
    <div class="col-sm-2"> </div>
    <div class="col-sm-8">
      <div class="texto-descritivo">
        <p>Pellentesque in arcu sed erat egestas facilisis vitae vel tortor. Suspendisse a cursus sapien. In luctus turpis eu eros lacinia sollicitudin. Nulla erat tellus, accumsan at nulla ut, sollicitudin pulvinar risus. Integer pretium convallis urna, quis placerat ligula imperdiet vel. Morbi efficitur lacus sit amet sodales accumsan. Nullam pulvinar risus eu leo placerat ultricies. Nulla bibendum rhoncus arcu, sit amet sagittis mi ornare id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ex ipsum, euismod eu mauris nec, volutpat hendrerit leo.</p>
      </div>
    </div> 
  </div><!- row ->

  <!- Onde Visitar ->
  <div class="row">
    <div class="col-sm-1"> </div>
    <div class="col-sm-8 titulo-onde-visitar">
      <p>O que visitar em Coimbra</p>
    </div>
  </div> <!- row titulo onde visitar->

  <!- Lugar a visitar Arco e Torre Almedina ->
  <div class="row mt-3">
    <div class="col-sm-4 offset-sm-1">
      <%=  image_tag('Coimbra/ArcoAlmedina.jpg', class:"imagem-lugar-vertical" )%>
    </div>
    <div class="col-sm-5">
      <div class="titulo-lugar">
        <p>Arco da Almedina</p>
      </div>
      <div class="texto-descritivo">
        <p>Pellentesque in arcu sed erat egestas facilisis vitae vel tortor. Suspendisse a cursus sapien. In luctus turpis eu eros lacinia sollicitudin. Nulla erat tellus, accumsan at nulla ut, sollicitudin pulvinar risus. Integer pretium convallis urna, quis placerat ligula imperdiet vel. Morbi efficitur lacus sit amet sodales accumsan. Nullam pulvinar risus eu leo placerat ultricies. Nulla bibendum rhoncus arcu, sit amet sagittis mi ornare id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ex ipsum, euismod eu mauris nec, volutpat hendrerit leo.</p>
      </div>
    <div>
      <%=  image_tag('Coimbra/ArcoAlmedina2.jpg', class:"imagem-lugar-medio float-end" )%>
    </div>
   </div><!- row lugar ->
 
   <!- Lugar a visitar Universidade de Coimbra->
  <div class="row pt-3">
    <div class="titulo-lugar">
      <p>Universidade de Coimbra</p>
    </div>
  </div> <!- row titulo lugar ->

  <div class="row">
    <div class="col-sm-1"> </div>
    <div class="col-sm-8">
      <%=  image_tag('Coimbra/UniversidadeDeCoimbra2.jpg', class:"imagem-lugar-grande" )%>
    </div>
  </div><!- row ->

  <div class="row p-3">
    <div class="col-sm-2"> </div>
    <div class="col-sm-8">
      <div class="texto-descritivo">
        <p>Pellentesque in arcu sed erat egestas facilisis vitae vel tortor. Suspendisse a cursus sapien. In luctus turpis eu eros lacinia sollicitudin. Nulla erat tellus, accumsan at nulla ut, sollicitudin pulvinar risus. Integer pretium convallis urna, quis placerat ligula imperdiet vel. Morbi efficitur lacus sit amet sodales accumsan. Nullam pulvinar risus eu leo placerat ultricies. Nulla bibendum rhoncus arcu, sit amet sagittis mi ornare id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ex ipsum, euismod eu mauris nec, volutpat hendrerit leo.</p>
      </div>
    </div>
   <div class="row">
    <div class="col-sm-4 offset-sm-1">
      <%=  image_tag('Coimbra/UniversidadeDeCoimbra.jpg', class:"imagem-lugar-vertical" )%>
    </div>
     <div class="col-sm-6">
       <%=  image_tag('Coimbra/PatioDasEscolas.jpg', class:"imagem-lugar-medio float-end")%>
      <%=  image_tag('Coimbra/BibliotecaCoimbra.jpg', class:"imagem-lugar-medio float-start")%>
     </div> 
   </div> 
  </div><!- row lugar a visitar->

  <!- Lugar a visitar a Sé Velha ->
  <div class="row mt-3">
    <div class="col-sm-1"> </div>
    <div class="col-sm-5 ">
      <%=  image_tag('Coimbra/SeVelha.jpg', class:"imagem-lugar-medio" )%>
    </div>
    <div class="col-sm-4">
      <div class="titulo-lugar">
        <p>Sé Velha</p>
      </div>
      <div class="texto-descritivo">
        <p>Pellentesque in arcu sed erat egestas facilisis vitae vel tortor. Suspendisse a cursus sapien. In luctus turpis eu eros lacinia sollicitudin. Nulla erat tellus, accumsan at nulla ut, sollicitudin pulvinar risus. Integer pretium convallis urna, quis placerat ligula imperdiet vel. Morbi efficitur lacus sit amet sodales accumsan. Nullam pulvinar risus eu leo placerat ultricies. Nulla bibendum rhoncus arcu, sit amet sagittis mi ornare id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ex ipsum, euismod eu mauris nec, volutpat hendrerit leo.</p>
      </div>
  </div><!- row lugar ->


  <!- Lugar a visitar Sé Nova->
  <div class="row mt-4">
    <div class="col-sm-5 offset-sm-1">
      <div class="titulo-lugar">
        <p>A Sé Nova</p>
      </div>
      <div class="texto-descritivo">
        <p>Pellentesque in arcu sed erat egestas facilisis vitae vel tortor. Suspendisse a cursus sapien. In luctus turpis eu eros lacinia sollicitudin. Nulla erat tellus, accumsan at nulla ut, sollicitudin pulvinar risus. Integer pretium convallis urna, quis placerat ligula imperdiet vel. Morbi efficitur lacus sit amet sodales accumsan. Nullam pulvinar risus eu leo placerat ultricies. Nulla bibendum rhoncus arcu, sit amet sagittis mi ornare id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ex ipsum, euismod eu mauris nec, volutpat hendrerit leo.</p>
      </div>
    </div>
    <div class="col-sm-6 ">
      <%=  image_tag('Coimbra/SeNova.jpg', class:"imagem-lugar-medio float-end" )%>
    </div>
 </div><!- row lugar ->

<!- Lugar a visitar a Fado ao Centro ->
<div class="row mt-3">
  <div class="row">
    <div class="titulo-lugar">
      <p>Fado ao Centro</p>
    </div>
  </div><!- row titulo-lugar ->
    <div class="row">
      <div class="col-sm-6 offset-sm-3 texto-descritivo">
        <p>Pellentesque in arcu sed erat egestas facilisis vitae vel tortor. Suspendisse a cursus sapien. In luctus turpis eu eros lacinia sollicitudin. Nulla erat tellus, accumsan at nulla ut, sollicitudin pulvinar risus. Integer pretium convallis urna, quis placerat ligula imperdiet vel. Morbi efficitur lacus sit amet sodales accumsan. Nullam pulvinar risus eu leo placerat ultricies. Nulla bibendum rhoncus arcu, sit amet sagittis mi ornare id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ex ipsum, euismod eu mauris nec, volutpat hendrerit leo.</p>
      </div>
    </div><!- row texto ->
    <div class="row">
      <div class="col-sm-5 offset-sm-1">
        <%=  image_tag('Coimbra/FadoAoCentro.jpg', class:"imagem-lugar-medio" )%>
      </div>
      <div class="col-sm-5 ">
        <%=  image_tag('Coimbra/FadoAoCentro2.jpg', class:"imagem-lugar-medio" )%>
      </div>
    </div>
  </div><!- row lugar ->
  
  <!- Lugar a visitar a Fado ao Centro ->
 <div class="row mt-5">
   <div class="row">
     <div class="titulo-outros-lugares">
       <p>Outros Lugares a visitar</p>
     </div>
   </div><!- row titulo outros a visitar>
   <div class="row"> 
     <div class="col-sm-3">
       <div>
         <%= image_tag("Coimbra/CapelaDeSaoMiguel.jpg", class:"imagem-lugar-pequeno") %>
       </div>
       <div>
         <p>Capela de São Miguel</p>
       </div>
     </div>
     <div class="col-sm-3">
       <div>
         <%= image_tag("Coimbra/MosteiroSantaCruz.jpg", class:"imagem-lugar-pequeno ") %>
       </div>
       <div>
         <p>Mosteiro Sta Cruz</p>
       </div>
     </div>
     <div class="col-sm-3">
       <div>
         <%= image_tag("Coimbra/MuseuDeCiencia.jpg", class:"imagem-lugar-pequeno") %>
       </div>
       <div>
         <p>Museu de Ciência</p>
       </div>
     </div>
     <div class="col-sm-3">
       <div>
       <%= image_tag("Coimbra/CoimbraANoite.jpg", class:"imagem-lugar-pequeno") %>
       </div>
       <div >
         <p>Coimbra a noite</p>
       </div>
     </div>
  </div><!- row imagens outros a visitar>
</div>



</div><!- container-fluid ->

