<div class= "container-fluid">
  <!- ====  Coimbra ==== ->
  <div class= "row justify-content-around mt-3">
    <div class="col-10 titulo-cidade">
      <p>Coimbra</p>
    </div>
  </div> <!- row titulo ->
  <div class="row">
    <div class="subtitulo-cidade">
      <p>"..é uma lição, de sonho e tradição"</p>
    </div>
  </div> <!- row subtitulo ->

  <div class="row justify-content-center">
    <div class="col-sm-8">
      <%=  image_tag('Coimbra/Coimbra.jpg', class:"imagem-cidade img-fluid" )%>
    </div>
  </div><!- row ->

  <div class="row justify-content-center p-3">
    <div class="col-sm-6">
      <div class="texto-descritivo">
        <p>Coimbra já foi capital de Portugal, serviu de palco para paixões trágicas e ainda hoje preserva uma série de objetos históricos, ruínas romanas, construções de diversos períodos arquitetônicos, casas de fado, lojas, bons restaurantes e doces tradicionais, como os pastéis de Santa Clara e de Tentúgal — que você deve provar!</p>
      <p class="fonte-texto"><b>Fonte:</b>https://www.melhoresdestinos.com.br/o-que-fazer-em-coimbra.html</p>
      </div>
    </div> 
  </div><!- row ->

  <!- Onde Visitar ->
  <div class="row justify-content-center">
    <div class="col-6 titulo-onde-visitar">
      <p>O que visitar em Coimbra</p>
    </div>
  </div> <!- row titulo onde visitar->

  <!- Lugar a visitar Arco e Torre Almedina ->
  <div class="row justify-content-center mt-3">
    <div class="col-4 my-auto">
      <%=  image_tag('Coimbra/ArcoAlmedina.jpg', class:"imagem-lugar-vertical img-fluid" )%>
    </div>
    <div class="col-6 my-auto">
      <div class="titulo-lugar">
        <p>Porta e Arco da Almedina</p>
      </div>
      <div class="texto-descritivo">
        <p>Como o próprio nome indica, constituía-se na porta da almedina, entrada principal da cidade intra-muros. É acedida a partir da porta da Barbacã, na rua Ferreira Borges, uma das principais artérias da baixa de Coimbra. Ambas integram o Núcleo da Cidade Muralhada.</p>
        <p>A Cerca urbana de Coimbra, de que a Porta e Torre de Almedina faz parte, está classificada como Monumento Nacional desde 1910.</p>
        <p class="fonte-texto"><b>Fonte:</b>https://pt.wikipedia.org/wiki/Porta_e_Torre_de_Almedina</p>
      </div>
    <div>
      <%=  image_tag('Coimbra/ArcoAlmedina2.jpg', class:"imagem-lugar-medio img-fluid float-end" )%>
    </div>
   </div><!- row lugar ->
 
   <!- Lugar a visitar Universidade de Coimbra->
  <div class="row pt-3">
    <div class="titulo-lugar">
      <p>Universidade de Coimbra</p>
    </div>
  </div> <!- row titulo lugar ->

  <div class="row justify-content-center">
    <div class="col-6">
      <center><%=  image_tag('Coimbra/UniversidadeDeCoimbra2.jpg', class:"imagem-lugar-medio img-fluid" )%></center>
    </div>
  </div><!- row ->

  <div class="row justify-content-center p-3">
    <div class="col-8">
      <div class="texto-descritivo">
        <p>Os ingressos para visitar a universidade mais antiga de Portugal, fundada em 1290, são vendidos no prédio da biblioteca, no Largo da Porta Férrea. Se a fila for muito grande, aqui vai uma sugestão que poucos sabem: existe outra bilheteria no Museu da Ciência, pertinho dali, bem menos movimentada. O bilhete mais completo custa 12,50 euros e inclui: Paço Real, Capela de São Miguel, a famosa Biblioteca Joanina, Laboratório Químico e o Colégio de Jesus, onde estão os gabinetes de Física Experimental e História Natural, um roteiro que irá durar cerca de 2h30.</p>
        <p>A outra possibilidade é comprar ingressos para visitar apenas o Paço Real e o Colégio de Jesus, roteiro que custa 7 euros e leva cerca de 2h. Para subir a torre, é cobrado um euro a mais em qualquer um dos dois programas. A universidade também oferece visitas guiadas sob agendamento (acesse o site para mais detalhes).</p>
        <p class="fonte-texto"><b>Fonte:</b>https://www.melhoresdestinos.com.br/o-que-fazer-em-coimbra.html</p>
      </div>
    </div>
   <div class="row">
    <div class="col-sm-4 offset-sm-1">
      <%=  image_tag('Coimbra/UniversidadeDeCoimbra.jpg', class:"imagem-lugar-vertical img-fluid" )%>
    </div>
     <div class="col-sm-6">
       <%=  image_tag('Coimbra/PatioDasEscolas.jpg', class:"imagem-lugar-medio img-fluid float-end")%>
       <%=  image_tag('Coimbra/BibliotecaCoimbra.jpg', class:"imagem-lugar-medio img-fluid float-start")%>
     </div> 
   </div> 
  </div><!- row lugar a visitar->

  <!- Lugar a visitar a Sé Velha ->
  <div class="row justify-content-center mt-3">
    <div class="col-5 my-auto">
      <%=  image_tag('Coimbra/SeVelha.jpg', class:"imagem-lugar-medio img-fluid" )%>
    </div>
    <div class="col-5 me-4 my-auto">
      <div class="titulo-lugar">
        <p>Sé Velha</p>
      </div>
      <div class="texto-descritivo">
        <p>A Sé Velha de Coimbra, ou Catedral de Coimbra e Igreja de Nossa Senhora da Assunção como também é designada, localiza-se na freguesia da Almedina (Coimbra), na cidade e município de Coimbra, distrito de mesmo nome, em Portugal.</p>
        <p>Constitui um dos edifícios em estilo românico mais importantes do país. A sua construção começou em algum momento depois da Batalha de Ourique (1139), quando Afonso Henriques se declarou rei de Portugal e escolheu Coimbra como capital do reino. Na Sé está sepultado D. Sesnando, conde de Coimbra.</p>
        <p>A Sé Velha de Coimbra encontra-se classificada como Monumento Nacional desde 1910.</p>
        <p class="fonte-texto"><b>Fonte:</b>https://pt.wikipedia.org/wiki/S%C3%A9_Velha_de_Coimbra</p>
      </div>
  </div><!- row lugar ->


  <!- Lugar a visitar Sé Nova->
  <div class="row justify-content-center mt-4">
    <div class="col-5 me-4 my-auto">
      <div class="titulo-lugar">
        <p>A Sé Nova</p>
      </div>
      <div class="texto-descritivo">
        <p>A Sé Nova de Coimbra, também referida como Colégio do Santíssimo Nome de Jesus, Catedral de Coimbra e Igreja do Santíssimo Nome de Jesus, é um templo católico localizado no Largo da Feira na freguesia de Coimbra (Sé Nova, Santa Cruz, Almedina e São Bartolomeu), cidade e município de Coimbra, em Portugal.</p>
        <p>É a sede da Diocese de Coimbra e da Paróquia da Sé Nova. A Sé Nova de Coimbra está classificada como Monumento Nacional desde 1910.</p>
        <p class="fonte-texto"><b>Fonte:</b>https://pt.wikipedia.org/wiki/S%C3%A9_Nova_de_Coimbra</p>
      </div>
    </div>
    <div class="col-5 my-auto">
      <%=  image_tag('Coimbra/SeNova.jpg', class:"imagem-lugar-medio img-fluid float-end" )%>
    </div>
 </div><!- row lugar ->

<!- Lugar a visitar a Fado ao Centro ->
<div class="row mt-3">
  <div class="row">
    <div class="titulo-lugar">
      <p>Fado ao Centro</p>
    </div>
  </div><!- row titulo-lugar ->
    <div class="row">
      <div class="col-6 offset-3 texto-descritivo">
        <p>O Fado ao Centro é um projeto cultural que nasceu em Coimbra, em 2010, e que resulta da paixão que 3 músicos, antigos estudantes da Universidade de Coimbra, nutrem pelo Fado de Coimbra, pela cidade, pelas suas tradições, cultura e património</p>
        <p>Desde a sua génese, o Fado ao Centro está dedicado à nossa cidade e aos que nos visitam, todos os dias do ano, com o intuito de defender e preservar este Património Musical de Coimbra.</p>
        <p>A Casa Fado ao Centro é um Centro Cultural – Casa de Fados. Situada no centro histórico da cidade, abre portas todos os dias do ano sem exceção, para receber todos os que queiram vir conhecer, recordar e apreciar a genuína vivência e tradições académicas em volta do Fado de Coimbra. 
        <p>Todos os dias, às 18h00, realizamos o nosso espectáculo ao vivo, uma experiência cultural ímpar e uma oportunidade para testemunhar a magia do Fado de Coimbra, interpretada por alguns dos mais conceituados músicos da cidade. </p>
        <p class="fonte-texto"><b>Fonte:</b>https://fadoaocentro.com/</p>
      </div>
    </div><!- row texto ->
    <div class="row justify-content-center ">
      <div class="col-5">
        <%=  image_tag('Coimbra/FadoAoCentro.jpg', class:"imagem-lugar-medio img-fluid" )%>
      </div>
      <div class="col-5 ">
        <%=  image_tag('Coimbra/FadoAoCentro2.jpg', class:"imagem-lugar-medio img-fluid" )%>
      </div>
    </div>
  </div><!- row lugar ->
  
  <!- Lugar a visitar a Fado ao Centro ->
 <div class="row mt-5">
   <div class="row">
     <div class="titulo-outros-lugares">
       <p>Outros Lugares a visitar</p>
     </div>
   </div><!- row titulo outros a visitar>
   <div class="row justify-content-around"> 
     <div class="col">
       <div>
         <center>
           <%= image_tag("Coimbra/ABiblioteca.jpg", class:"imagem-lugar-pequeno img-fluid") %>
           <p class="mt-2">A Bliblioteca Joanina</p>
         </center>
       </div>
     </div>
     <div class="col">
       <div>
         <center>
           <%= image_tag("Coimbra/AComida.jpg", class:"imagem-lugar-pequeno img-fluid") %>
           <p class="mt-2">Sua comida</p>
         </center>
       </div>
     </div>
     <div class="col">
       <div>
         <center>
           <%= image_tag("Coimbra/MuseuDeCiencia.jpg", class:"imagem-lugar-pequeno img-fluid") %>
           <p class="mt-2">Museu de Ciência</p>
         </center>
       </div>
     </div>
     <div class="col">
       <div>
         <center>
           <%= image_tag("Coimbra/CoimbraANoite2.jpg", class:"imagem-lugar-pequeno img-fluid") %>
           <p class="mt-2">Coimbra a noite</p>
       </center>
       </div>
     </div>
  </div><!- row imagens outros a visitar>
</div>



</div><!- container-fluid ->

