<div class= "container-fluid">
  <!- ====  Lisboa ==== ->
  <div class= "row mt-3">
    <div class="col-sm-1"> </div>
    <div class="col-sm-1 titulo-cidade">
      <p>Lisboa</p>
    </div>
  </div> <!- row titulo ->
  <div class="row">
    <div class="subtitulo-cidade">
      <p>Conheça a capital de Portugal</p>
    </div>
  </div> <!- row subtitulo ->

  <div class="row">
    <div class="col-sm-1"> </div>
    <div class="col-sm-8">
      <%=  image_tag('Lisboa/Praca do Comercio.jpg', class:"imagem-cidade" )%>
    </div>
  </div><!- row ->

  <div class="row p-3">
    <div class="col-sm-2"> </div>
    <div class="col-sm-8">
      <div class="texto-descritivo">
        <p>Pellentesque in arcu sed erat egestas facilisis vitae vel tortor. Suspendisse a cursus sapien. In luctus turpis eu eros lacinia sollicitudin. Nulla erat tellus, accumsan at nulla ut, sollicitudin pulvinar risus. Integer pretium convallis urna, quis placerat ligula imperdiet vel. Morbi efficitur lacus sit amet sodales accumsan. Nullam pulvinar risus eu leo placerat ultricies. Nulla bibendum rhoncus arcu, sit amet sagittis mi ornare id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ex ipsum, euismod eu mauris nec, volutpat hendrerit leo.</p>
      </div>
    </div> 
  </div><!- row ->

  <!- Onde Visitar ->
  <div class="row">
    <div class="col-sm-1"> </div>
    <div class="col-sm-8 titulo-onde-visitar">
      <p>O que visitar em Lisboa</p>
    </div>
  </div> <!- row titulo onde visitar->

  <!- Lugar a visitar Mosteiro de sao bento->
  <div class="row">
    <div class="titulo-lugar">
      <p>Mosteiro de São bento</p>
    </div>
  </div> <!- row titulo lugar ->

  <div class="row">
    <div class="col-sm-1"> </div>
    <div class="col-sm-8">
      <%=  image_tag('Lisboa/Mosteiro de Sao Bento.jpg', class:"imagem-lugar-grande" )%>
    </div>
  </div><!- row ->

  <div class="row p-3">
    <div class="col-sm-2"> </div>
    <div class="col-sm-8">
      <div class="texto-descritivo">
        <p>Pellentesque in arcu sed erat egestas facilisis vitae vel tortor. Suspendisse a cursus sapien. In luctus turpis eu eros lacinia sollicitudin. Nulla erat tellus, accumsan at nulla ut, sollicitudin pulvinar risus. Integer pretium convallis urna, quis placerat ligula imperdiet vel. Morbi efficitur lacus sit amet sodales accumsan. Nullam pulvinar risus eu leo placerat ultricies. Nulla bibendum rhoncus arcu, sit amet sagittis mi ornare id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ex ipsum, euismod eu mauris nec, volutpat hendrerit leo.</p>
      </div>
    </div> 
  </div><!- row ->

  <!- Lugar a visitar Monumento aos descobrimentos->
  <div class="row">
    <div class="titulo-lugar">
      <p>Monumento aos descobrimentos</p>
    </div>
  </div> <!- row titulo lugar ->

  <div class="row">
    <div class="col-sm-1"> </div>
    <div class="col-sm-8">
      <%=  image_tag('Lisboa/Monumento do Descobrimento.jpg', class:"imagem-lugar-grande" )%>
    </div>
  </div><!- row ->

  <div class="row p-3">
    <div class="col-sm-2"> </div>
    <div class="col-sm-8">
      <div class="texto-descritivo">
        <p>Pellentesque in arcu sed erat egestas facilisis vitae vel tortor. Suspendisse a cursus sapien. In luctus turpis eu eros lacinia sollicitudin. Nulla erat tellus, accumsan at nulla ut, sollicitudin pulvinar risus. Integer pretium convallis urna, quis placerat ligula imperdiet vel. Morbi efficitur lacus sit amet sodales accumsan. Nullam pulvinar risus eu leo placerat ultricies. Nulla bibendum rhoncus arcu, sit amet sagittis mi ornare id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ex ipsum, euismod eu mauris nec, volutpat hendrerit leo.</p>
      </div>
    </div> 
  </div><!- row ->

  <!- Lugar a visitar Torre de Belém ->
  <div class="row mt-3">
    <div class="col-sm-1"> </div>
    <div class="col-sm-5 ">
      <%=  image_tag('Lisboa/Torre de Belem.jpg', class:"imagem-lugar-medio" )%>
    </div>
    <div class="col-sm-4">
      <div class="titulo-lugar">
        <p>Torre de Belém</p>
      </div>
      <div class="texto-descritivo">
        <p>Pellentesque in arcu sed erat egestas facilisis vitae vel tortor. Suspendisse a cursus sapien. In luctus turpis eu eros lacinia sollicitudin. Nulla erat tellus, accumsan at nulla ut, sollicitudin pulvinar risus. Integer pretium convallis urna, quis placerat ligula imperdiet vel. Morbi efficitur lacus sit amet sodales accumsan. Nullam pulvinar risus eu leo placerat ultricies. Nulla bibendum rhoncus arcu, sit amet sagittis mi ornare id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ex ipsum, euismod eu mauris nec, volutpat hendrerit leo.</p>
      </div>
  </div><!- row lugar ->

  <!- Lugar a visitar Castelo de São Jorge->
  <div class="row mt-4">
    <div class="col-sm-2"> </div>
    <div class="col-sm-4">
      <div class="titulo-lugar">
        <p> Castelo de São Jorge</p>
      </div>
      <div class="texto-descritivo">
        <p>Pellentesque in arcu sed erat egestas facilisis vitae vel tortor. Suspendisse a cursus sapien. In luctus turpis eu eros lacinia sollicitudin. Nulla erat tellus, accumsan at nulla ut, sollicitudin pulvinar risus. Integer pretium convallis urna, quis placerat ligula imperdiet vel. Morbi efficitur lacus sit amet sodales accumsan. Nullam pulvinar risus eu leo placerat ultricies. Nulla bibendum rhoncus arcu, sit amet sagittis mi ornare id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ex ipsum, euismod eu mauris nec, volutpat hendrerit leo.</p>
      </div>
    </div>
    <div class="col-sm-1"> </div>
    <div class="col-sm-4 ">
      <%=  image_tag('Lisboa/Castelo de São Jorge.jpg', class:"imagem-lugar-medio" )%>
    </div>
 </div><!- row lugar ->
 <div class="row">
   <div class="row">
     <div class="titulo-outros-lugares">
       <p>Outros Lugares a visitar</p>
     </div>
   </div><!- row titulo outros a visitar>
   <div class="row">
     <div class="col">
       <%= image_tag("Lisboa/Praca do Comercio.jpg", class:"imagem-lugar-pequeno") %>
     </div>
     <div class="col">
       <%= image_tag("Lisboa/Praca do Comercio.jpg", class:"imagem-lugar-pequeno") %>
     </div>
     <div class="col">
       <%= image_tag("Lisboa/Praca do Comercio.jpg", class:"imagem-lugar-pequeno") %>
     </div>
     <div class="col">
       <%= image_tag("Lisboa/Praca do Comercio.jpg", class:"imagem-lugar-pequeno") %>
     </div>
  </div><!- row imagens outros a visitar>
</div>



</div><!- container-fluid ->

