<div class= "container-fluid">
  <!- ====  Porto ==== ->
  <div class= "row mt-3">
    <div class="col-sm-1"> </div>
    <div class="col-sm-1 titulo-cidade">
      <p>Porto</p>
    </div>
  </div> <!- row titulo ->
  <div class="row">
    <div class="subtitulo-cidade">
      <p>Mais que só o vinho</p>
    </div>
  </div> <!- row subtitulo ->

  <div class="row">
    <div class="col-sm-1"> </div>
    <div class="col-sm-8">
      <%=  image_tag('Porto/APonte.jpg', class:"imagem-cidade" )%>
    </div>
  </div><!- row ->

  <div class="row p-3">
    <div class="col-sm-2"> </div>
    <div class="col-sm-8">
      <div class="texto-descritivo">
        <p>Pellentesque in arcu sed erat egestas facilisis vitae vel tortor. Suspendisse a cursus sapien. In luctus turpis eu eros lacinia sollicitudin. Nulla erat tellus, accumsan at nulla ut, sollicitudin pulvinar risus. Integer pretium convallis urna, quis placerat ligula imperdiet vel. Morbi efficitur lacus sit amet sodales accumsan. Nullam pulvinar risus eu leo placerat ultricies. Nulla bibendum rhoncus arcu, sit amet sagittis mi ornare id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ex ipsum, euismod eu mauris nec, volutpat hendrerit leo.</p>
      </div>
    </div> 
  </div><!- row ->

  <!- Onde Visitar ->
  <div class="row">
    <div class="col-sm-1"> </div>
    <div class="col-sm-8 titulo-onde-visitar">
      <p>O que visitar no Porto</p>
    </div>
  </div> <!- row titulo onde visitar->

  <!- Lugar a visitar Passear Centro Historico->
  <div class="row mt-3">
    <div class="col-sm-1"> </div>
    <div class="col-sm-5 ">
      <%=  image_tag('Porto/RuasDoPorto.jpg', class:"imagem-lugar-medio" )%>
    </div>
    <div class="col-sm-4">
      <div class="titulo-lugar">
        <p>Passear no Centro Histórico</p>
      </div>
      <div class="texto-descritivo">
        <p>Pellentesque in arcu sed erat egestas facilisis vitae vel tortor. Suspendisse a cursus sapien. In luctus turpis eu eros lacinia sollicitudin. Nulla erat tellus, accumsan at nulla ut, sollicitudin pulvinar risus. Integer pretium convallis urna, quis placerat ligula imperdiet vel. Morbi efficitur lacus sit amet sodales accumsan. Nullam pulvinar risus eu leo placerat ultricies. Nulla bibendum rhoncus arcu, sit amet sagittis mi ornare id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ex ipsum, euismod eu mauris nec, volutpat hendrerit leo.</p>
      </div>
  </div><!- row lugar ->

  <!- Lugar a visitar cais da Ribeira->
  <div class="row mt-4">
    <div class="col-sm-2"> </div>
    <div class="col-sm-4">
      <div class="titulo-lugar">
        <p>o cais da Ribeira</p>
      </div>
      <div class="texto-descritivo">
        <p>Pellentesque in arcu sed erat egestas facilisis vitae vel tortor. Suspendisse a cursus sapien. In luctus turpis eu eros lacinia sollicitudin. Nulla erat tellus, accumsan at nulla ut, sollicitudin pulvinar risus. Integer pretium convallis urna, quis placerat ligula imperdiet vel. Morbi efficitur lacus sit amet sodales accumsan. Nullam pulvinar risus eu leo placerat ultricies. Nulla bibendum rhoncus arcu, sit amet sagittis mi ornare id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ex ipsum, euismod eu mauris nec, volutpat hendrerit leo.</p>
      </div>
    </div>
    <div class="col-sm-1"> </div>
    <div class="col-sm-4 ">
      <%=  image_tag('Porto/CaisDaRibeira.jpg', class:"imagem-lugar-medio" )%>
    </div>
 </div><!- row lugar ->

<!- Lugar a visitar a Sé do Porto->
  <div class="row mt-3">
    <div class="col-sm-1"> </div>
    <div class="col-sm-5 ">
      <%=  image_tag('Porto/SeDoPorto.jpg', class:"imagem-lugar-medio" )%>
    </div>
    <div class="col-sm-4">
      <div class="titulo-lugar">
        <p>Visitar a Sé do Porto</p>
      </div>
      <div class="texto-descritivo">
        <p>Pellentesque in arcu sed erat egestas facilisis vitae vel tortor. Suspendisse a cursus sapien. In luctus turpis eu eros lacinia sollicitudin. Nulla erat tellus, accumsan at nulla ut, sollicitudin pulvinar risus. Integer pretium convallis urna, quis placerat ligula imperdiet vel. Morbi efficitur lacus sit amet sodales accumsan. Nullam pulvinar risus eu leo placerat ultricies. Nulla bibendum rhoncus arcu, sit amet sagittis mi ornare id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ex ipsum, euismod eu mauris nec, volutpat hendrerit leo.</p>
      </div>
  </div><!- row lugar ->

  <!- Lugar a visitar Igreja do Carmo->
  <div class="row mt-4">
    <div class="col-sm-2"> </div>
    <div class="col-sm-4">
      <div class="titulo-lugar">
        <p>Igreja do Carmo</p>
      </div>
      <div class="texto-descritivo">
        <p>Pellentesque in arcu sed erat egestas facilisis vitae vel tortor. Suspendisse a cursus sapien. In luctus turpis eu eros lacinia sollicitudin. Nulla erat tellus, accumsan at nulla ut, sollicitudin pulvinar risus. Integer pretium convallis urna, quis placerat ligula imperdiet vel. Morbi efficitur lacus sit amet sodales accumsan. Nullam pulvinar risus eu leo placerat ultricies. Nulla bibendum rhoncus arcu, sit amet sagittis mi ornare id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ex ipsum, euismod eu mauris nec, volutpat hendrerit leo.</p>
      </div>
    </div>
    <div class="col-sm-1"> </div>
    <div class="col-sm-4 ">
      <%=  image_tag('Porto/IgrejaDoCarmo.jpg', class:"imagem-lugar-medio" )%>
    </div>
 </div><!- row lugar ->



  <!- Lugar a visitar Estacao Ferroviaria ->
 <div class="row mt-4">
   <div class="row">
     <div class="titulo-lugar">
       <p>Estação Ferroviária</p>
     </div>
     <div class="col-sm-6 offset-sm-3 texto-descritivo">
       <p>Pellentesque in arcu sed erat egestas facilisis vitae vel tortor. Suspendisse a cursus sapien. In luctus turpis eu eros lacinia sollicitudin. Nulla erat tellus, accumsan at nulla ut, sollicitudin pulvinar risus. Integer pretium convallis urna, quis placerat ligula imperdiet vel. Morbi efficitur lacus sit amet sodales accumsan. Nullam pulvinar risus eu leo placerat ultricies. Nulla bibendum rhoncus arcu, sit amet sagittis mi ornare id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ex ipsum, euismod eu mauris nec, volutpat hendrerit leo.</p>
     </div>
   </div>

  <div class="row">
    <div class="col-sm-4 offset-sm-1">
      <%=  image_tag('Porto/EstacaoFerroviaria.jpg', class:"imagem-lugar-medio" )%>
    </div>
    <div class="col-sm-4 offset-sm-1">
      <%=  image_tag('Porto/EstacaoFerroviaria2.jpg', class:"imagem-lugar-medio" )%>
    </div>
  </div><!- row imagem estacao ferrroviaria>
 </div><!- row lugar ->

 <div class="row mt-5">
   <div class="row">
     <div class="titulo-outros-lugares">
       <p>Outros Lugares a visitar</p>
     </div>
   </div><!- row titulo outros a visitar>
   <div class="row"> 
     <div class="col-sm-3">
       <div>
         <%= image_tag("Porto/LivrariaLello.jpg", class:"imagem-lugar-pequeno") %>
       </div>
       <div>
         <p>Livraria Lello</p>
       </div>
     </div>
     <div class="col-sm-3">
       <div>
         <%= image_tag("Porto/PalacioDaBolsa.jpg", class:"imagem-lugar-pequeno ") %>
       </div>
       <div>
         <p>Palacio da Bolsa</p>
       </div>
     </div>
     <div class="col-sm-3">
       <div>
         <%= image_tag("Porto/20220318_132120.jpg", class:"imagem-lugar-pequeno") %>
       </div>
       <div>
         <p>Treze a rir</p>
       </div>
     </div>
     <div class="col-sm-3">
       <div>
       <%= image_tag("Porto/PorDoSol.jpg", class:"imagem-lugar-pequeno") %>
       </div>
       <div >
         <p>Por do sol</p>
       </div>
     </div>
  </div><!- row imagens outros a visitar>
</div>



</div><!- container-fluid ->

