<div class= "container-fluid">
  <!- ====  Porto ==== ->
  <div class= "row justify-content-around mt-4">
    <div class="col-10 titulo-cidade">
      <p>Porto</p>
    </div>
  </div> <!- row titulo ->

  <div class="row">
    <div class="subtitulo-cidade">
      <p>Mais que só o vinho</p>
    </div>
  </div> <!- row subtitulo ->

  <div class="row justify-content-center">
    <div class="col-8">
      <%=  image_tag('Porto/APonte.jpg', class:"imagem-cidade img-fluid" )%>
    </div>
  </div><!- row ->

  <div class="row justify-content-center p-3">
    <div class="col-6">
      <div class="texto-descritivo">
        <p>O Porto é uma cidade e um município português, sendo capital da Área Metropolitana do Porto, da Região do Norte e do Distrito do Porto. Tem uma área urbana de 41,42 km2, 213.962 habitantes em 2021 e uma densidade populacional de 5.165 habitantes por km2, sendo a segunda maior cidade do país. É sede do município do Porto, tendo uma extensão de 41,42 km2, 213.962 habitantes em 2021 e uma densidade populacional de 5.165 habitantes por km2, dividindo-se em sete freguesias. O município é limitado a norte pelos municípios de Matosinhos e Maia, a leste pelo município de Gondomar, a sul pelo município de Vila Nova de Gaia e a oeste pelo Oceano Atlântico.</p>
        <p class="fonte-texto"><b>Fonte:</b>https://pt.wikipedia.org/wiki/Porto</p>
      </div>
    </div> 
  </div><!- row ->

  <!- Onde Visitar ->
  <div class="row justify-content-center">
    <div class="col-6 titulo-onde-visitar">
      <p>O que visitar no Porto</p>
    </div>
  </div> <!- row titulo onde visitar->

  <!- Lugar a visitar Passear Centro Historico->
  <div class="row justify-content-center mt-3">
    <div class="col-6 ">
      <%=  image_tag('Porto/RuasDoPorto.jpg', class:"imagem-lugar-medio img-fluid" )%>
    </div>
    <div class="col-4">
      <div class="titulo-lugar">
        <p>Passear no Centro Histórico</p>
      </div>
      <div class="texto-descritivo">
        <p>Seja por abrigar algumas das igrejas mais bonitas do mundo, pelas ruas de paralelepípedo ou pelas belas construções barrocas e artísticas, a atmosfera do centro histórico de Porto , em Portugal, é sem igual. A cidade, que foi uma dos destinos internacionais mais buscados de 2021, tem tudo para continuar em alta este ano e deve ser considerada como uma ótima opção para desbravar.</p>
     <p>Centro histórico é repleto de pontos importantes para a histórica e para a cultura de Porto (e até Portugal como um todo). A elegância e o charme da cidade estão na estética tradicional e ímpar, mas também na atmosfera de segurança e pela boa receptividade dos portuenses. </p>
     <p class="fonte-texto"><b>Fonte:</b>https://turismo.ig.com.br/destinos-internacionais/2022-03-05/roteiro-1-dia-centro-historico-porto-portugal.html</p>
      </div>
  </div><!- row lugar ->

  <!- Lugar a visitar cais da Ribeira->
  <div class="row mt-4 justify-content-end">
    <div class="col-4">
      <div class="titulo-lugar">
        <p>o cais da Ribeira</p>
      </div>
      <div class="texto-descritivo">
        <p>Não somente o cenário encantador, mas também toda a movimentação do lugar dão fama à Ribeira. Além da charmosa praça da Ribeira - de frente para o belo rio Douro - e das pequenas ruas com pavimento de paralelepípedo, lá o visitante encontra uma série de restaurantes, bares e cafés.</p>
        <p>Da área reservada para estes estabelecimentos se tem uma bela vista do Douro e também das caves de vinho do Porto, do outro lado da ponte, em Vila Nova de Gaia. O local costuma ficar lotado em dias de festa como o Réveillon, por conta da queima de fogos.</p>
        <p class="fonte-texto"><b>Fonte:</b>https://guia.melhoresdestinos.com.br/cais-da-ribeira-158-4117-l.html</p>
      </div>
    </div>
    <div class="col-6 ">
      <%=  image_tag('Porto/CaisDaRibeira.jpg', class:"imagem-lugar-medio img-fluid" )%>
    </div>
 </div><!- row lugar ->

<!- Lugar a visitar a Sé do Porto->
  <div class="row justify-content-center mt-3">
    <div class="col-6 ">
      <%=  image_tag('Porto/SeDoPorto.jpg', class:"imagem-lugar-medio img-fluid" )%>
    </div>
    <div class="col-4">
      <div class="titulo-lugar">
        <p>Visitar a Sé do Porto</p>
      </div>
      <div class="texto-descritivo">
        <p>Eis aqui um dos pontos imperdíveis da cidade do Porto: a bela catedral em estilo românico, erguida no século XII. O edifício se apresenta com uma rosácea na fachada, além de duas torres laterais com cúpulas, que dão ao local uma aparência de fortaleza.</p>
        <p>No interior estão três naves - sendo a do meio a mais alta delas - onde o visitante verá de perto capelas como a do Santíssimo Sacramento, com altar em prata e retábulo-mor em talha de ouro, uma verdadeira preciosidade. Mas também não pode deixar de conhecer o claustro gótico e o tesouro-museu, onde está exposta uma série de objetos de ourivesaria.</p>
        <p>A entrada na igreja é gratuita, já o ingresso que dá acesso ao museu e ao claustro custa €3.</p>
        <p class="fonte-texto"><b>Fonte:</b>https://guia.melhoresdestinos.com.br/se-catedral-do-porto-158-4118-l.html</p>
      </div>
  </div><!- row lugar ->

  <!- Lugar a visitar Igreja do Carmo->
  <div class="row justify-content-center mt-4">
    <div class="col-4">
      <div class="titulo-lugar">
        <p>Igreja do Carmo</p>
      </div>
      <div class="texto-descritivo">
        <p>A Igreja do Carmo, ou Igreja da Venerável Ordem Terceira de Nossa Senhora do Carmo, foi construída no século 18, pela Ordem Terceira do Carmo, a partir de um projeto do arquiteto José Figueiredo Seixas. Por receber muitos turistas, ela ganhou destaque em 2013 tornando-se Monumento Nacional. Uma curiosidade sobre esta construção é que ela está geminada com a Igreja dos Carmelitas, do lado oeste, constituindo um volume único, embora se diferenciem as duas igrejas.</p>
        <p>O que mais chama a atenção no exterior da Igreja do Carmo, que foi feita em estilo barroco/rococó, é sua lateral coberta por azulejos que retratam a fundação da Ordem das Carmelitas e Monte Carmelo. A fachada frontal, ricamente trabalhada, tem um portal retangular, além de duas esculturas religiosas dos profetas Elias e Eliseu produzidas na Itália. No interior, o destaque vai para os retábulos desenhados por um dos maiores mestres entalhadores portugueses, Francisco Pereira Campanhã.</p>
        <p class="fonte-texto"><b>Fonte:</b>https://dicasdelisboa.com.br/porto/igreja-do-carmo-no-porto/</p>
      </div>
    </div>
    <div class="col-6 ">
      <%=  image_tag('Porto/IgrejaDoCarmo.jpg', class:"imagem-lugar-medio img-fluid" )%>
    </div>
 </div><!- row lugar ->



  <!- Lugar a visitar Estacao Ferroviaria ->
 <div class="row mt-4i justify-content-center">
   <div class="col-6">
     <div class="titulo-lugar">
       <p>Estação Ferroviária</p>
     </div>
     <div class="texto-descritivo">
       <p>Muito mais do que uma estação de comboios (trens, para nós, brasileiros), a São Bento é uma verdadeira joia arquitetônica. Obra do arquiteto Marques da Silva, o local começou a ser construído em 1900, na mesma área que um dia abrigou um convento e, por isso, recebeu o nome do santo.</p>
       <p>A fachada é de deixar qualquer um boquiaberto com tanta beleza e riqueza de detalhes, mas é o interior que chama ainda mais a atenção dos passageiros e visitantes. Isso por conta dos painéis de azulejos (pelo menos 20 mil) que revestem as paredes internas e contam passagens importantes da história do país, como a do Infante D. Henrique na conquista de Ceuta.</p>
       <p class="fonte-texto"><b>Fonte:</b>https://guia.melhoresdestinos.com.br/rua-dos-clerigos-158-4122-l.html</p>
     </div>
   </div>

  <div class="row justify-content-center">
    <div class="col-5">
      <%=  image_tag('Porto/EstacaoFerroviaria.jpg', class:"imagem-lugar-medio img-fluid" )%>
    </div>
    <div class="col-5">
      <%=  image_tag('Porto/EstacaoFerroviaria2.jpg', class:"imagem-lugar-medio img-fluid" )%>
    </div>
  </div><!- row imagem estacao ferrroviaria>
 </div><!- row lugar ->

 <div class="row mt-5">
   <div class="row">
     <div class="titulo-outros-lugares">
       <p>Outros Lugares a visitar</p>
     </div>
   </div><!- row titulo outros a visitar>
   <div class="row justify-content-around"> 
     <div class="col">
       <div>
         <center>
           <%= image_tag("Porto/LivrariaLello.jpg", class:"imagem-lugar-pequeno img-fluid") %>
           <p class="mt-2">Livraria Lello</p>
         </center>
       </div>
     </div>
     <div class="col">
       <div>
         <center>
           <%= image_tag("Porto/PalacioDaBolsa.jpg", class:"imagem-lugar-pequeno img-fluid") %>
           <p class="mt-2">Palacio da Bolsa</p>
         </center>
       </div>
     </div>
     <div class="col">
       <div>
         <center>
           <%= image_tag("Porto/20220318_132120.jpg", class:"imagem-lugar-pequeno img-fluid") %>
           <p class="mt-2">Treze a rir</p>
         </center>
       </div>
     </div>
     <div class="col">
       <div>
         <center>
           <%= image_tag("Porto/PorDoSol.jpg", class:"imagem-lugar-pequeno img-fluid") %>
           <p class="mt-2">Por do sol</p>
         </center>
       </div>
     </div>
  </div><!- row imagens outros a visitar>
</div>



</div><!- container-fluid ->

