<div class= "container-fluid">
  <!- ====  Braga ==== ->
  <div class= "row justify-content-around mt-4">
    <div class="col-10 titulo-cidade">
      <p>Braga</p>
    </div>
  </div> <!- row titulo ->
  <div class="row justify-content-center">
    <div class="subtitulo-cidade">
      <p>A cidade mais antiga de Portugal</p>
    </div>
  </div> <!- row subtitulo ->
 
  <div class="row justify-content-center p-3">
    <div class="col-6">
      <div class="texto-descritivo">
        <p>É em Braga que se encontra a catedral mais antiga do país, a Sé. Sua construção data do ano de 1070 e a presença de diversos estilos é o que lhe confere uma arquitetura tão rica, ainda que a predominância seja românica.</p>
        <p>É lá que estão enterrados Dom Henrique e Dona Teresa, pais de Dom Afonso Henriques, o primeiro rei. A idade dessa catedral acabou por dar origem a uma expressão muito utilizada em Portugal quando queremos dizer que algo é muito velho: “tal coisa é mais velha que a Sé de Braga!”.</p>
        <p class="fonte-texto"><b>Fonte:</b>https://turistaprofissional.com/roteiro-de-um-dia-em-braga-portugal/</p>
      </div>
    </div> 
  </div><!- row ->

  <div class="row justify-content-center">
    <div class="col-8">
      <%=  image_tag('Braga/FotoBraga.jpg', class:"imagem-cidade img-fluid" )%>
    </div>
  </div><!- row ->

  <!- Onde Visitar ->
  <div class="row justify-content-around mt-4">
    <div class="col-6 titulo-onde-visitar">
      <p>O que visitar em Braga</p>
    </div>
  </div> <!- row titulo onde visitar->

  <!- Lugar a visitar Praça da Republica->
  <div class="row justify-content-center">
    <div class="titulo-lugar">
      <p>Praça da Republica</p>
    </div>
  </div> <!- row titulo lugar ->

  <div class="row justify-content-center">
    <div class="col-8">
      <%=  image_tag('Braga/PracaDaRepublica.jpg', class:"imagem-lugar-grande img-fluid" )%>
    </div>
  </div><!- row ->

  <div class="row justify-content-center p-3">
    <div class="col-6">
      <div class="texto-descritivo">
        <p> A Praça da República, popularmente referida apenas como Arcada, localiza-se na freguesia de São José de São Lázaro, no centro histórico da cidade de Braga, no distrito de mesmo nome, em Portugal.</p>
        <p>Constitui-se numa praça que se abre entre os largos de São Francisco e Barão de São Martinho e as avenidas Central e da Liberdade.</p>
        <p class="fonte-texto"><b>Fonte:</b>https://pt.wikipedia.org/wiki/Pra%C3%A7a_da_Rep%C3%BAblica_(Braga)</p>
      </div>
    </div> 
  </div><!- row ->

  <!- Lugar a visitar Basílica dos Congregados ->
  <div class="row justify-content-center mt-4">
    <div class="col-4">
      <div class="titulo-lugar">
        <p>Basílica dos Congregados</p>
      </div>
      <div class="texto-descritivo">
        <p> A Basílica dos Congregados situa-se na freguesia de São José de São Lázaro em Braga, Portugal e está incluída no antigo Convento dos Congregados.</p>
        <p>A Basílica é da autoria do arquitecto André Soares, construída no século XVI, embora só terminada no século XX.</p>
        <p>O inicio da construção foi em 1703, sendo benzida em 27 de Outubro de 1717, embora faltando construir as torres e colocar estátuas nos nichos respectivos da fachada.  </p>
        <p class="fonte-texto"><b>Fonte:</b>https://pt.wikipedia.org/wiki/Bas%C3%ADlica_dos_Congregados</p>
      </div>
    </div>
    <div class="col-6">
      <%=  image_tag('Braga/Basilica dos congregados.jpg', class:"imagem-lugar-medio img-fluid" )%>
    </div>
 </div><!- row lugar ->

 <!- Lugar a visitar Igreja dos Terceiros ->
  <div class="row justify-content-center mt-3">
    <div class="col-5 my-auto">
      <%=  image_tag('Braga/IgrejaDosTerceiros.jpg', class:"imagem-lugar-medio img-fluid" )%>
    </div>
    <div class="col-4 my-auto">
      <div class="titulo-lugar">
        <p>Igreja dos Terceiros</p>
      </div>
      <div class="texto-descritivo">
        <p> A Igreja dos Terceiros localiza-se na freguesia de São José de São Lázaro, cidade e município de Braga, distrito de mesmo nome, em Portugal. A igreja da Terceira Ordem Regular de São Francisco remonta a 1690, tendo sido erguida com o recurso às esmolas dos fieis.A fachada, onde já desponta o barroco, apresenta um frontão quebrado, encimado por uma cruz e as armas de São Francisco. O nicho central exibe a imagem de Nossa Senhora da Conceição.</p>
        <p class="fonte-texto"><b>Fonte:</b>https://pt.wikipedia.org/wiki/Igreja_dos_Terceiros</p>
      </div>
  </div><!- row lugar ->

  <!- Lugar a visitar Calçadão Av Liberdade ->
  <div class="row justify-content-center mt-4">
    <div class="col-4 my-auto">
      <div class="titulo-lugar">
        <p>Calçadão Av. Liberdade</p>
      </div>
      <div class="texto-descritivo">
        <p> É entre a Avenida Central e a Avenida da Liberdade que bate o coração da cidade de Braga. A partir delas, é possível contemplar coloridos jardins (nos meses de primavera, eles ficam ainda mais lindos, claro), repletas de lojas, cafés e pastelarias.  </p>
        <p class="fonte-texto"><b>Fonte:</b>https://www.cultuga.com.br/roteiro-braga-o-que-fazer-portugal/</p>
      </div>
    </div>
    <div class="col-5">
      <%=  image_tag('Braga/CalcadaoAvLiberdade.jpg', class:"imagem-lugar-medio img-fluid" )%>
    </div>
 </div><!- row lugar ->
</div><!- container-fluid ->

