<!DOCTYPE html>
<html>
  <head>
    <title>Viaje</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-dark " style="background-color: #2D9CDB;">
      <div class="container-fluid" >
        <%= link_to "WR Turismo", inicio_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Cidades Portuguesas
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><%= link_to "Lisboa", lisboa_path, class: 'dropdown-item' %></li>
                <li><%= link_to "Porto", porto_path, class: 'dropdown-item' %></li>
                <li><%= link_to "Coimbra", coimbra_path, class: 'dropdown-item' %></li>
                <li><%= link_to "Aveiro", aveiro_path, class: 'dropdown-item' %></li>
                <li><%= link_to "Guimarães", guimaraes_path, class: 'dropdown-item' %></li>
                <li><%= link_to "Braga", braga_path, class: 'dropdown-item' %></li>
                <li><%= link_to "Óbidos", obidos_path, class: 'dropdown-item' %></li>
              </ul>
            </li>
            <li class="nav-item">
              <%= link_to "Hoteis","#", class:'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Aluguel de Carro","#", class:'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Dicas de Viagens","#", class:'nav-link' %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <!-- imagem Viaje Comigo -->
    <div>
      <%= image_tag "Lisboa/faixa.svg", class: "img-fluid" %>
    </div>

   <%= yield %>

    <!-- Redes Sociais -->
    <footer>
      <div class="row container-fluid text-center frameRedesSociais">
        <div>
          <p class="fw-bold"><span>Siga-nos nas redes</span></p>
        </div>

        <div>
          <a href="#!"
             class="btn btn-link btn-floating btn-sm text-white"
             role="button"
             data-mdb-ripple-color="dark" >
             <i class="fab fa-facebook-f fa-2x"></i >
          </a>

          <a href="#"
             class="btn btn-link btn-floating btn-sm text-white"
             role="button"
             data-mdb-ripple-color="dark" >
             <i class="fa-brands fa-twitter fa-2x"></i>
          </a>

          <a href="#!"
             class="btn btn-link btn-floating btn-sm text-white"
             role="button"
             data-mdb-ripple-color="dark" >
             <i class="fa-brands fa-instagram fa-2x"></i>
          </a>
        </div>
      </div>
        <!--  Redes Sociais -->
        
      <!-- row: Links  -->
      <div class="row  justify-content-center frameRodape mt-1" >
        <div class="col-2">
          <!-- Links --> 
          <h6 class="fw-bold mt-2"  > Onde ir </h6>
          <ul style="list-style-type: none;">
            <li> <%= link_to "Lisboa", lisboa_path, class:"text-reset lh-1" %> </li>
            <li> <%= link_to "Porto", porto_path, class:"text-reset lh-1 ml-8" %> </li>
            <li> <%= link_to "Coimbra", coimbra_path, class:"text-reset" %> </li>
            <li> <%= link_to "Aveiro", aveiro_path, class:"text-reset" %> </li>
            <li> <%= link_to "Guimarães", guimaraes_path, class:"text-reset" %> </li>
            <li> <%= link_to "Braga", braga_path, class:"text-reset" %> </li>
            <li> <%= link_to "Óbidos", obidos_path, class:"text-reset" %></li>
          </ul>
        </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-2">
        <!-- Content -->
        <h6 class="fw-bold mt-2 mb-4">
          <%= link_to "WR Turismo", inicio_path, class:"me-3 text-reset" %> 
        </h6>
        <p> <%= link_to "Sobre nós", "", class:"text-reset"  %> </p>
        <p> <%= link_to "Trabalho conosco", inicio_path, class:"text-reset"  %> </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-3">
        <!-- Links -->
        <h6 class="fw-bold mt-2 mb-2"> Fale conosco </h6>
        <p> <i class="fa-solid fa-phone me-3"></i>Atendimento: 0800 123-4567 </p>
        <p> <i class="fa-solid fa-clock me-3"></i>Segunda a sexta-feira das 08:00 às 22:00 </p>
        <p> <i class="fa-solid fa-clock me-3"></i>Sábados das 090:00 às 13:00 </p>
        <p> <i class="fa-solid fa-address-card me-3"></i>Rua do Patrocínio, 2000 - Florianópolis - SC </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-2">
        <!-- Links -->
        <h6 class="fw-bold mt-2 mb-2"> Baixe nosso app </h6>
        <p> <i class="fa-brands fa-android fa-2x me-3"></i>Android</p>
        <p> <i class="fa-brands fa-apple fa-2x me-3"></i>IOS</p>
      </div>
    </div>
          <!-- Grid row -->
   <!-- Links  -->

        <!-- Copyright -->
        <div class="text-center mt-1" style="background-color: #2D9CDB;color: #FFFF">
          © 2022 Copyright: WR Turismo
        </div>
        <!-- Copyright -->
      </footer>
    </div>
  </body>
</html>
